sudo: required
services:
  - docker 

before_install:
  - docker build -t bird5555/react-test -f ./client/Dockerfile.dev ./client


script:
  - docker run bird5555/react-test npm run test -- --coverage

after_success:
  - docker build -t bird5555/multi-client ./client
  - docker build -t bird5555/multi-nginx ./nginx
  - docker build -t bird5555/multi-server ./server
  - docker build -t bird5555/multi-worker ./worker

- echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
- docker push bird5555/multi-client
- docker push bird5555/multi-nginx
- docker push bird5555/multi-server
- docker push bird5555/multi-worker